body{
    display : flex ;
    background : #6990f2;
    font-family:"Poppin",sans-serif;    
    min-height:100vh;
    justify-content:center;
    align-items:center;
}
.main-div{
    /* display:flex; */
    width : 350px;
    height:400px;
    background : #fffca1;
    justify-content:center;
    align-items:center;
    border:12px;
    border-radius:7px;
    border-color:rgb(185,19,1);

}
.myheader{
    margin:15px;
    /* margin-left : 10px;
    margin-bottom:10px; */
}
.myform{
    margin:15px;
}
#btnFile{
    margin-top:15px;
    margin-bottom:15px;
    cursor:pointer;
}
#select-file{
    cursor:pointer;
}
